
body {
  background-color: white;
  margin:100px auto;
}

section {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.button {
  background-color: green;
  border: none;
  border-radius:10px;
  color: white;
  text-align: center;
  min-height:30px; 
  min-width: 70px;
}

.button:hover {
  background-color:black;
  transition: 0.4s;
}

.low-usage {
    color: green;
  }
  
  .medium-usage {
    color: orange;
  }
  
  .high-usage {
    color: red;
  }

.boxed {
  border: 3px solid green ;
  border-radius: 25px;
  width: 30%;
  margin: auto;
  padding: 10px;
}
